@import '../../components/shered/_variables'

.teamMembers
    width: 100vw
    display: grid
    justify-items: center

.member
    width: 95vw
    height: 95vw
    border-radius: 100%
    overflow: hidden

    & img
        width: 100%
.member-name
    h2
        font-family: $secondary-font
        font-size: $header-size
        font-weight: 100
        letter-spacing: 3pt
