@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Shadows+Into+Light&display=swap')

$base-color: #000000
$bacground-color: #ffffff

$base-font: "Lato", sans-srif
$secondary-font: 'Shadows Into Light', cursive
$font-weight-base: 300

@mixin border
    border: 1px solid $base-color
    border-radius: 10px
