@import '../../shered/variables'

.btn
    display: block
    background-color: $bacground-color
    color: $base-color
    font-size: $font-big
    font-weight: $font-weight-base
    text-align: center
    font-family: $base-font
    font-weight: $font-weight-base
    @include border

    &:hover
        cursor: pointer
        background-color: $hover-color

    &.opposit
        background-color: $base-color
        color: white
        @include border
        &:hover
            background-color: lighten($base-color, 25% )
