@import '../components/shered/_variables'

.Layout
    display: grid
    height: 100vh
    grid-template-columns: 100vw
    grid-template-rows: $header-size auto
    justify-items: stretch
    grid-template-areas: 'header' 'main'

.Header
    grid-area: header
    display: grid
    grid-template-columns: 3fr 1fr 1fr 1fr
    grid-template-rows: auto
    justify-items: center
    align-items: center
    grid-template-areas: '.fb insta burger'
.Main
    grid-area: main
.LogoSm
    position: absolute
    width: 120px
    height: 120px
    top: -20px
    &:hover
        cursor: pointer
