@import '../../shered/_variables'
.SideBar
    position: fixed
    width: 750px
    max-width: 70%
    height: calc(100% - #{$header-size})
    right: 0
    top: $header-size
    z-index: 200
    background-color: $bacground-color
    padding: 32px 16px
    box-sizing: border-box
    transition: transform 0.3s ease-out

.Open
    transform: translateX(0%)

.Close
    transform: translateX(110%)

@media (min-width: 900px)
    .SideBar
        position: static
        background: red
        grid-area: sidebar
        width: auto
        max-width: none
        height: $header-size
        z-index: 200
        background-color: $bacground-color
        padding: 6px
    .Close
        transform: translateX(0%)
